
@charset "utf-8";

* {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display:block;
}


/*================================

Universal Styling

*================================*/

#container {
	display: flex;
}

@font-face {
  font-family: 'Trade Winds', cursive;
  src: url('../fonts/TradeWinds-Regular.ttf') format('truetype');
}

/*=====================================

Body Styling

*======================================*/

h1 {
  font-family: 'Trade Winds';
  text-align: center;
  padding-top: 5%;
  padding-bottom: 3%;
}

.row {
  padding: 3%;

}

.alert {
  font-family: 'Trade Winds';
  text-align: center;
  font-size: 1.3em;
}
